@page
@model ComposeEmailModel
@{

}
<h2>Compose New Email</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}


<form method="post" action="/SendEmail">
    <div class="form-group">
        <label class="col-sm-3 col-form-label">SenderEmail</label>
		<div class="col-sm-6">
        <input type="text" class="form-control" id="EmailSender" name="Sender" required>
    </div>



	<div class="form-group">
		<label class="col-sm-3 col-form-label">Subject</label>
		<div class="col-sm-6">
		<input type="text" class="form-control" id="Emailsubject" name="Subject" required>
	</div>



	<div class="form-group">
		<label for="message">Message:</label>
		<textarea class="form-control" id="message" name="EmailMessage" rows="4" required></textarea>
	</div>





	<button type="submit" class="btn btn-primary">Send Email</button>



	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		</div>
	}
</form>
<a class="btn btn-primary btn-sm" href="/index">Home</a>
